{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-header bg-dark text-white text-center"><h5>Iniciar Sesión</h5></div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label>Usuario</label>
                        {{ form.username(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label>Contraseña</label>
                        {{ form.password(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Ingresar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}